nav{
  position: fixed;
  top: 0;
  width: 100vw;
background-color: #a40606;
background-image: linear-gradient(to right, #00b09b 0%, #96c93d 74%);
z-index: 1;


  display: grid;
  justify-items: center; 
}
ul{
    list-style: none;
    display: flex;
}
li{
  padding: 10px;
  letter-spacing: 2px;
}
#welcome-section{
  width: 100vw;
  margin-top:-100px;
  height: 130vh;
  display: grid;
  place-content:center;
background-color: #abe9cd;
background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
transform: skewY(-8deg);
}
.welcome-section-content{
  transform: skewY(8deg);
}
#projects{
  width: 100vw;
  display: grid;
  place-content:center;

background-color: white;
}
.grid{
  display: grid;
}
.project-content{
  justify-self:center;
  width: 70vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
}
.project-tile{

  background-color: #ff7878;
background-image: linear-gradient(315deg, #ff7878 20%, #ff0000 60%);
box-shadow: 5px 7px 4px #888888;


}
.center{
  justify-self:center; 
}
.animate{
  transition: 3s;
}
.animate:hover{
  font-style: italic;
  transition: 3s;
}
.contact{
  width: 100vw;
  height: 100vh;
  margin-top: 20px; 
  display: grid;
  place-content:center;
background-color: #89d4cf;
background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);

}
.contact-form{
  
  padding: 25px;
  background-color: rgba(75,0,130,0.5);
}
form{

  height: 80vh;
  width: 70vh;
 background-color: #89d4cf;
background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
  opacity: 1;
  grid-gap: 20px;
  grid-template-rows: 70px 70px 2fr 1fr;
}
.form-content{
  display: grid;
  grid-template-rows: 20px 30px;
  grid-gap: 10px;
  margin: 30px 10px 10px 10px;
}

.textarea{
  padding: 100px;
}
